.movie > img{
    width:100%;
}
.movie {
    border: 1px solid black;
    height:400px;
    margin: 5px;
    padding: 0;
    overflow: hidden;
}

#addMovieContainer {
    background: lightgrey;
    height: 80px;
    text-align: center;
}


#login{
    float:right;
    margin:15px;
}