.movie > img{
    width:100%;
}
.innermovie {
    border: 1px solid black;
}
.movie {
    height:400px;
    /*margin: 5px;*/
    padding: 5px;
    overflow: hidden;
}

#addMovieContainer {
    background: lightgrey;
    margin: 15px 0;
    text-align: center;
}


#login{
    float:right;
}

.error-label{
    display:none;
}

.rating{
    float: right;
    margin-right: 5px;
}